/* body {
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/country-road-along-rocky-mountains-royalty-free-image-678834219-1550781633.jpg");
  background-size: cover;
} */

.App {
  text-align: center;
}

.map-container {
  height: 100vh;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.mapWrapper {
  width: 100vw;
  height: 100vh;
}

#title-div {
  margin-bottom: 50px;
}

#car-icon {
  padding-left: 15px;
}

#home-main {
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/country-road-along-rocky-mountains-royalty-free-image-678834219-1550781633.jpg");
  background-size: cover;
  height: 100vh;
}

#trip-main {
  min-height: 700px;
  border-radius: 10px;
  width: 80%;
  margin-left: 10%;
  align-content: center;
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.356), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*0px 6px 5px 5px rgb(168, 168, 168);*/
  background-color: whitesmoke;
}

#main-title {
  font-family: "Sedgwick Ave", cursive;
  font-size: 4em;
  /* font-weight: normal; */
  color: orange;
  margin-bottom: 0;
  margin-top: 3em;
}

.navbar-links {
  color: white !important;
}

#profile-view {
  background-color: whitesmoke;
  min-height: 700px;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-left: 55px;
  width: 90%;
  font-family: "Roboto Mono", monospace;
}

#trip-info-form {
  background-color: whitesmoke;
  border-radius: 2.5%;
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.356), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*0px 6px 5px 5px rgb(168, 168, 168);*/
  height: 425px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
}

#profile-name {
  font-family: "Roboto Mono", monospace;
}

#profile-pic {
    width: 200px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
}

.profile-sub-title {
  font-family: "Roboto Mono", monospace;
}

#profile-form {
  background-color: whitesmoke;
  border-radius: 2.5%;
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.356), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*0px 6px 5px 5px rgb(168, 168, 168);*/
  height: 525px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
}

#end-date-trip {
  padding-left: 60px;
}

#not-found {
  background-color: white;
  height: 100vh;
}

.password-input-div {
  margin-bottom: 2rem;
}
