.main {
  height: 100%;
  color: cornflowerblue;
}

.mapContainer,
canvas.mapboxgl-canvas {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 90vh;
  width: 100vw;
}

.trip-planner-overview {
  z-index: 1;
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 25vw;
  height: 60vh;
  padding-left: auto;
  padding-right: auto;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
}

.trip-planner-overview > h1 {
  text-align: center;
  margin-top: 0.5em !important;
}

.origin-destination-inline-block {
  z-index: 1;
  margin-top: 5em;
}

.origin-destination-fields {
  position: relative;
  z-index: 1000;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}

.mapboxgl-ctrl-geocoder--input {
  align-items: center !important;
  text-align: center;
  overflow-y: hidden;
  display: inline-block;
  margin-bottom: 60px;
  z-index: 1;
}

#starting-location-label,
#destination-label {
  display: block;
  margin-left: 3em;
  margin-top: 0.2em;
}

.mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-search {
  padding-right: 0.4em;
  padding-top: 0.3em;
}

.button-container {
  margin-left: 3em;
}

.button-container-addLocationButton {
  width: fit-content;
  justify-content: center;
}

.location {
  width: 100%;
  margin-bottom: 1em;
  margin-left: 2em;
}

.json-result {
  visibility: hidden;
}

.mapboxgl-ctrl-top-right > .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  visibility: hidden;
}

.mapboxgl-ctrl-top-right > .mapboxgl-ctrl.mapboxgl-ctrl-group {
  margin-top: 3em;
  margin-right: 3em;
}

.ui.text.container.trip-planner-overview {
  max-width: 20% !important;
}

.trip-planner-overview {
  justify-content: center;
  padding: 1em;
}

#location-request {
  margin: 0%;
  padding: 0%;
  width: 100%;
}

.add-location {
  justify-content: center !important;
  padding: 0%;
  margin: 0%;
}

#location-request > .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  margin: 0%;
  width: 100%;
}

.addLocationControlBar {
  display: inline-block;
}
